<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401143312560-lv9qdhtgmadjili190qj3ee1l1ioph6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401143312560-lv9qdhtgmadjili190qj3ee1l1ioph6p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401143312560-7nsqrujg7tq1rgtun0v2suae9bcdtgb7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRSP3y8wWjsyQOkDoKgPmssVfhUsxlcr8</string>
	<key>GCM_SENDER_ID</key>
	<string>401143312560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dddCourse</string>
	<key>PROJECT_ID</key>
	<string>ddd-course-7506c</string>
	<key>STORAGE_BUCKET</key>
	<string>ddd-course-7506c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401143312560:ios:3b1836e4b1b8f76bc64b75</string>
</dict>
</plist>